@import "../../index";

.heart {
  position: absolute;
  top: 0;
  left: 0;
  height: 30px;
  width: 30px;
  border: none;
  cursor: pointer;
  background: none;

  .heardSize {
    height: 100%;
    width: 100%;
  }
}

.red {
  color: red;
  border: none;
}
